/* Para agregar los tipo de letra especifico basta con una id o etiqueta especifica ahi se pone */

/* Aqui se definen las variables especificas */
/* Aun no los aplico */
:root {
    /* Esta es otra manera de poner los colores */
    --color-primario: #092b5a;
    --color-secundario: #09738a;
    --color-terciario:#78a890;
    --backg: #e7d9b4;
    --color-input:#9ed1b7;
    --color-input2: #073d57;
    --text-size: 1.5rem;
    /* Rem= respeta el tamaño de fuente de body (16 pix)*/
    --color-text: #0000;
}
*{
    font-family: "Jost", serif;
}
header{
    /* Aqui iria el color de la paleta de colores elegida por mi*/
    background-color: #7f0651;
}
/* Para los iconos del footer */
.nav-item {
    color: rgb(116, 16, 48);
}
/* Para el boton de perfil/primer apartado */
#perfil {
color:rgb(44, 3, 16);
}
.concepto a:hover{
    background-color: #b0415b;    
}
#app{
    color:#5e021b;
}
.boton-cv{
    background-color:#880255;
    /* Faltaria para el contorno */
    color:#dbbdd0;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    border-color: #880255;
}
.boton-cv:hover {
    background-color: #653554;
    border-color: #45243a;
}

/* Para la sección de habilidades */
.habilidades{
    background-color: #ce92a2;

}
/* Clase btn */
.btn{
    background-color: rgb(127, 85, 6);
}

.btn a{
    text-decoration: rgb(81, 0, 64);
    color:rgb(81, 0, 64);
}
.card .card-title{
    color:gray;
}

/* testimonios */
.card-title{
    text-align: center;
    margin-top: 18px;
}
.card-subtitle{
    text-align: center;
}
.card-body{
    text-align: justify;
    font-size: 16px;

}
/* Por que es id */
#contacto{
    background-color: #b0415b;
}
#contacto p{
    color:antiquewhite;
}
#btn-contacto{
    background-color: #7f0651;
}
#btn-contacto:hover{
    background-color: rosybrown;
    color: #b0415b;
}
/* Color del footer */
footer p{
    color:#7f0651;
}

