/* Definición de variables de colores */
:root {
    --color-primario: #092b5a;
    --color-secundario: #09738a;
    --color-terciario: #78a890;
    --backg: #e7d9b4;
    --color-input: #9ed1b7;
    --color-input2: #073d57;
    --text-size: 1.5rem;
    --color-text: #0000;
}

/* General */
* {
    font-family: "Jost", serif;
}

/* Header */
header {
    background-color: #073d57;
}

/* Iconos del footer */
.nav-item i {
    color: var(--color-input2);
}

/* Letras debajo de iconos */
footer p {
    color: var(--color-input2);
}

/* Nombre principal */
h1 {
    color: black; /* Cambio a color negro */
}

/* Texto cambiante */
#app {
    color: var(--color-secundario);
}

/* Títulos */
h2, h3 {
    color: var(--color-primario);
}

/* Títulos específicos */
.habilidades h3 {
    color: var(--color-primario);
}

/* Habilidades */
.habilidades {
    background-color: var(--color-input);
}

/* Botones en Proyectos */
.btn-proyecto {
    background-color: var(--color-secundario);
      color:white;
    border-color: var(--color-secundario);
}

.btn-proyecto a {
     color:white;
    text-decoration: none;
}

.btn-proyecto:hover {
    background-color: #065a63; /* Un color más oscuro para hover */
    border-color: #065a63;
}

/* Botón de trayectoria */
.boton-cv {
    background-color: var( --color-input2);
    color:white;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    border-color: var( --color-input2);
   
}

.boton-cv:hover {
    background-color:#0a4a6c; /* Color más claro para hover */
    border-color:var( --color-input2);
   
}

/* Sección de Contáctame */
#contacto {
    background-color: var(--color-terciario);
}

#btn-contacto {
    background-color: var(--color-secundario);
       color:white;
}

#btn-contacto:hover {
    background-color: #065a63;
      color:white;
}

/* Navegación */
.nav-link {
    color: white;
    transition: color 0.3s, text-shadow 0.3s;
}

.nav-link:hover {
    color: #ffcc00; /* Color iluminado */
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00; /* Efecto de brillo */
}